google-generativeai

#Hugging face Integration 
langchain-huggingface
langchain-google-genai 
transformers
huggingface-hub

#Enviroment Variable Management
python-dotenv

#Machine learning Utilities
numpy 
scikit-learn
torch
sentence-transformers